html {
  background-color: black;
}

.nav {
  width: 100%;
}


.table {
  text-align: center;
  padding: 10px;
  background-color: black;
}

.background {
  background-image: url("sw.jpg");
  background-size: cover;
}

.divH3 {
  text-align: center;
  color: white;
  background-color: black;
}

.form {
  text-align: center;
  color: white;
  padding: 20px;
}

.label {
  margin-top: 3px;
}

.swImg {
  border-radius: 20px;
  margin-right: 1rem;
}

select{
  text-align-last: center;
}

input {
  text-align-last: center;
}

@media (max-width: 700px) {
  .swImg {
    display: none;
  }
}
