.body {
}

.background {
  background-image: url("sw.jpg");
  background-size: cover;
}

.divH3 {
  text-align: center;
  color: white;
  background-color: black;
}

.form {
  text-align: center;
  color: white;
  padding: 20px;
}

.label {
  margin-top: 3px;
}

img {
  border-radius: 20px;
  margin-right: 1rem;
}

select{
  text-align-last: center;
}